<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
    <setting id="language" type="enum" label="Language" values="russian|ukrain" default="russian" />
    <setting type="sep" />
	<setting id="username" type="text" label="Login" default="" />
	<setting id="password" type="text" label="Password" option="hidden" enable="!eq(-1,)" default="" />
    </category>
</settings>
