<settings>
    <setting id="folder" type="folder" label="Download folder" default="None" />
    <setting id="translit" type="bool" label="Enable translit search" default="true" />
    <setting id="availability_check" type="bool" label="Enable stream availability check" default="false" />
    <setting id="interval" type="number" label="Check stream availability (hours)" default="48" />
</settings>
