<settings>
    <setting id="username" type="text" label="2000" default=""/>
    <setting id="password" type="text" label="2001" option="hidden"  enable="!eq(-1,)" default=""/>
    <setting type="sep"/>
    <setting id="translit" type="bool" label="2002" default="true" />
    <setting id="a_z" type="bool" label="2006" default="true" />
</settings>
